*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #081b29;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


header{
    position: relative;
    position: 0 2rem;
    background-color: white;
}

.navbar{
    width: 100%;
    height: 60px;
    /* max-width: 1080px; */
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .company {
    display: flex;
    align-items: center;
    
    gap: 2rem;
}

.navbar .company .logo{
    width: 48px;
    height: 48px;
}
.navbar .company .header-title
{
    font-size:large;
    font-weight: bolder;
    color: black;
}

.link 
{
    display: flex;
    gap: 2rem;
}

.navbar .link li a {
    display: flex;
    justify-content: space-between; 
    gap: 5px;
    align-items: center;
    color: black;
    transition: 0.3s;
}

.navbar .link li a:hover{
    color: aqua;
}

.content
{
    /* background: red; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.content .content-desc
{
    display: block;
    margin-bottom: 10rem;
    width: 30rem;
    height: 100%;
    padding: 10px;

    /* background: yellow; */
}

.content .content-desc .desc-greet{
    padding-bottom: 1.5rem;
    color: aqua;
}

.content .content-desc h1{
    color: white;
}

.content .content-desc h3{
    color: aqua;
}

.content .content-desc p{
    color: white;
    padding-top: 1rem;
}

.content .content-desc .desc-contacts
{
    padding-top: 1rem;
    display: flex;
    
}

.content .content-desc .desc-contacts a{
    color: white;
    transition: 0.3s;
}

.content .content-desc .desc-contacts a:hover{
    color: aqua;
}

.content .content-desc .desc-contacts ul li .fa-brands
{
    font-size: 2rem;
}


.content .avatar-container
{
    border-radius: 10px;
    width: 600px;
    height: 600px;
    overflow: hidden;
}

.content .avatar-container .avatar{

    /* width: 150%;
    height: 200%; */
    top:50%;
    left: 100%;
    transform: translate(-15%,-50%);
}